@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
 .header {
	 height: 100vh;
	 background: #fff;
	 font-size: 10px;
}

.header__name-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    
}

.fadeInDown{
    animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
   top: 30%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}


.main-subheading {
    /* float: right; */
    line-height: 1.2em;
    opacity: 1;
    color: #919191;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 23px;
}


.word-highlight {
    color: #00ffea;
}


 .header .glitch {
	 color: #ffffffde;
	 font-size: 6em;
	 position: relative;
     font-family: "Raleway", sans-serif !important;
     text-transform: uppercase;
	 font-weight: 700;
}

.glitch .slash {
    color: #b700ff;
    transform: rotateX('angle');
}

@media screen and (max-width: 768px) {
  

    .header .glitch {
        font-size: 8vw;
        white-space: nowrap;
    }

    .main-subheading{
        font-size: 4vw;
    }
}

